<!DOCTYPE html>
<html>
    <title>Profile</title>
    <head>

    </head>
    <body>
        <div>
            <h1><%= user.name %></h1>
            <h1><%= user.email %></h1>
            
            <!-- <img src="/uploads/<%= user.file %>" alt="Profile image"> -->
        </div>
        <div>
            <a href="/logout">Logout </a> <br>
            <a href="/profile/edit">Edit </a> <br>
            <a href="/all">All profiles</a>
        </div>
  
    </body>
</html>